<div class="page-header">
<form action="/cliente/save" method="POST">
  <hidden id="oid" name='oid' value=""/>
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" id="nome" name="nome">
  </div>
  <div class="form-group">
    <label for="endereco">Endereço:</label>
    <input type="text" class="form-control" id="endereco" name="endereco">
  </div>
  <div class="form-group">
    <label for="email">E-mail:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <button type="submit" class="btn btn-default">Salvar</button>
</form>